{% load static %}
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


    <title>Document</title>
</head>
<body >
      
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/img2.JPG' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img3.JPG' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img4.JPG' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <br>
    <br>
    <br>

    <div class="card-body">
      <h1 class="card-title">Invest In Small And Middle Scale Businesses :</h1>
      <br>
      <br>
      <h5 style="padding: 5px; color:rgb(0, 0, 59) " >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut illum fugiat modi distinctio culpa nihil reiciendis enim harum, suscipit numquam sunt explicabo excepturi reprehenderit eveniet laboriosam, rem cum ea  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab eos soluta similique totam omnis repudiandae non obcaecati consequuntur expedita nesciunt assumenda quas perferendis, sapiente voluptatibus minus ipsa ipsam amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptatibus perspiciatis fuga illo? Accusantium qui voluptatum, molestiae perspiciatis autem harum culpa facere perferendis laborum quam enim officiis hic nihil odit! </h5>
      <br><br>
      <a href="/" class="btn btn-primary">Business Feed</a>
    </div>

    <hr>
    <div class="card-body">
      <h1 class="card-title">Fund Startups :</h1>
      <br>
      <br>
      <h5 style="padding: 5px; color:rgb(0, 0, 59) " >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut illum fugiat modi distinctio culpa nihil reiciendis enim harum, suscipit numquam sunt explicabo excepturi reprehenderit eveniet laboriosam, rem cum ea  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab eos soluta similique totam omnis repudiandae non obcaecati consequuntur expedita nesciunt assumenda quas perferendis, sapiente voluptatibus minus ipsa ipsam amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptatibus perspiciatis fuga illo? Accusantium qui voluptatum, molestiae perspiciatis autem harum culpa facere perferendis laborum quam enim officiis hic nihil odit! </h5>
      <br><br>
      <a href="/startup" class="btn btn-primary">Business Feed</a>
    </div>
    <hr>
    <div class="card-body">
      <h1 class="card-title">Collaborate For Mutual Benefits  :</h1>
      <br>
      <br>
      <h5 style="padding: 5px; color:rgb(0, 0, 59) " >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut illum fugiat modi distinctio culpa nihil reiciendis enim harum, suscipit numquam sunt explicabo excepturi reprehenderit eveniet laboriosam, rem cum ea  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab eos soluta similique totam omnis repudiandae non obcaecati consequuntur expedita nesciunt assumenda quas perferendis, sapiente voluptatibus minus ipsa ipsam amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptatibus perspiciatis fuga illo? Accusantium qui voluptatum, molestiae perspiciatis autem harum culpa facere perferendis laborum quam enim officiis hic nihil odit! </h5>
      <br><br>
      
      <a href="/" class="btn btn-primary">Business Feed</a> 
    </div>
    


  </div>
  
  <h6>press back to go back</h6>